In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("https://quality.data.gov.tw/dq_download_csv.php?nid=24040&md5_url=780a6267c97c5d163ed14197147b84c1")

In [3]:
df.head(5)

  處分機關  裁罰件數（件）  裁罰金額（元）
0  台北市        8   440000
1  桃園市       85  1700000
2  宜蘭縣        0        0
3  新竹縣        2    40000
4  苗栗縣        6   230000

In [4]:
df.tail(5)

           處分機關  裁罰件數（件）  裁罰金額（元）
21          台南市       26   520000
22        加工出口區        1    20000
23  科技部新竹科學工業園區        1    20000
24  科技部南部科學工業園區        0        0
25  科技部中部科學工業園區        0        0

In [14]:
df["總額"] = df["裁罰件數（件）"]* df["裁罰金額（元）"]

In [15]:
df.head(5)

  處分機關  裁罰件數（件）  裁罰金額（元）         總額
0  台北市        8   440000    3520000
1  桃園市       85  1700000  144500000
2  宜蘭縣        0        0          0
3  新竹縣        2    40000      80000
4  苗栗縣        6   230000    1380000

In [16]:
df.sort_values(by="總額",ascending=False).head()

   處分機關  裁罰件數（件）  裁罰金額（元）         總額
1   桃園市       85  1700000  144500000
20  台中市       61  1220000   74420000
19  新北市       34   880000   29920000
14  高雄市       35   720000   25200000
21  台南市       26   520000   13520000