In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/zoo/zoo.data")

In [8]:
df.head()

,aardvark,1,0,0.1,1.1,0.2,0.3,1.2,1.3,1.4,1.5,0.4,0.5,4,0.6,0.7,1.6,1.7
0,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
1,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
2,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
3,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
4,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1

In [9]:
df.tail()

,aardvark,1,0,0.1,1.1,0.2,0.3,1.2,1.3,1.4,1.5,0.4,0.5,4,0.6,0.7,1.6,1.7
95,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
96,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
97,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
98,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
99,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [11]:
column_names = "animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type".split(',')

In [13]:
len(column_names)

18

In [14]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/zoo/zoo.data",names=column_names)

In [15]:
df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [16]:
df.sort_values(by="type")

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
32,gorilla,1,0,0,1,0,0,0,1,1,1,0,0,2,0,0,1,1
35,hamster,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,0,1
36,hare,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,0,1
44,leopard,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
45,lion,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
47,lynx,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
48,mink,1,0,0,1,0,1,1,1,1,1,0,0,4,1,0,1,1
49,mole,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,0,1
54,opossum,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,0,1
55,oryx,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
63,platypus,1,0,1,1,0,1,1,0,1,1,0,0,4,1,0,1,1
64,polecat,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
65,pony,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
66,porpoise,0,0,0,1,0,1,1,1,1,1,0,1,0,1,0,1,1
67,puma,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
68,pussycat,1,0,0,1,0,0,1,1,1,1,0,0,4,1,1,1,1
69,raccoon,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
70,reindeer,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
74,seal,1,0,0,1,0,1,1,1,1,1,0,1,0,0,0,1,1
75,sealion,1,0,0,1,0,1,1,1,1,1,0,1,2,1,0,1,1
84,squirrel,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,0,1
93,vampire,1,0,0,1,1,0,0,1,1,1,0,0,2,1,0,0,1
94,vole,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,0,1
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
31,goat,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
29,girl,1,0,0,1,0,0,1,1,1,1,0,0,2,0,1,1,1
50,mongoose,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
27,fruitbat,1,0,0,1,1,0,0,1,1,1,0,0,2,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
61,piranha,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
60,pike,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
18,dogfish,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
86,stingray,0,0,1,0,0,1,1,1,1,0,1,1,0,1,0,1,4
34,haddock,0,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0,4
82,sole,0,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0,4
38,herring,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
52,newt,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,0,5
89,toad,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
26,frog,0,0,1,0,0,1,1,1,1,1,1,0,4,0,0,0,5
25,frog,0,0,1,0,0,1,1,1,1,1,0,0,4,0,0,0,5
40,housefly,1,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
42,ladybird,0,0,1,0,1,0,1,0,0,1,0,0,6,0,0,0,6
24,flea,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
30,gnat,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
51,moth,1,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
88,termite,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
39,honeybee,1,0,1,0,1,0,0,0,0,1,1,0,6,0,1,0,6
77,seawasp,0,0,1,0,0,1,1,0,0,0,1,0,0,0,0,0,7
81,slug,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
53,octopus,0,0,1,0,0,1,1,0,0,0,0,0,8,0,0,1,7
72,scorpion,0,0,0,0,0,0,1,0,0,1,1,0,8,1,0,0,7
13,clam,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,7
15,crayfish,0,0,1,0,0,1,1,0,0,0,0,0,6,0,0,0,7
46,lobster,0,0,1,0,0,1,1,0,0,0,0,0,6,0,0,0,7
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
85,starfish,0,0,1,0,0,1,1,0,0,0,0,0,5,0,0,0,7
14,crab,0,0,1,0,0,1,1,0,0,0,0,0,4,0,0,0,7